<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mybrainfficial.waltzProject.boardInfo">
	<select id="selectBoardInfo" parameterType="BoardInfoVO" resultType="BoardInfoVO">
		SELECT *
		FROM waltz.TB_BOARD_INFO AS A
		WHERE A.POST_ID = #{postId, jdbcType=INTEGER}
		AND A.DEL_YN = 'N'
	</select>
	
	<select id="selectBoardCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM waltz.TB_BOARD_INFO
		WHERE BRD_CD = #{brdCd, jdbcType=VARCHAR}
		AND DEL_YN = 'N';
	</select>
	
	<select id="selectListBoardInfo" parameterType="hashMap" resultType="BoardInfoVO">
		SELECT *
		FROM waltz.TB_BOARD_INFO
		WHERE DEL_YN = 'N'
		<if test="menuCd != null">
			AND BRD_CD = #{menuCd, jdbcType=VARCHAR}
		</if>
		<if test="search != null">
			AND POST_SUBJECT LIKE #{search, jdbcType=VARCHAR}
		</if>
		ORDER BY POST_ID DESC
		LIMIT #{limit, jdbcType=INTEGER}
		OFFSET #{offset, jdbcType=INTEGER}
	</select>

	<!-- not work -->
	<select id="selectListPost" parameterType="BoardInfoVO" resultType="PostVO">
		SELECT A.*, B.*
		FROM waltz.TB_BOARD_INFO AS A
		LEFT JOIN waltz.TB_USER_INFO AS B
		ON A.WRTR_ID = B.USER_ID
		WHERE A.BRD_CD = #{brdCd, jdbcType=VARCHAR}
		AND A.DEL_YN = "N"
	</select>
	
	<insert id="insertBoardInfo" parameterType="BoardInfoVO" >
		INSERT INTO waltz.TB_BOARD_INFO(
			POST_ID,
			BRD_CD,
			ORIG_POST_ID,
			REPLY_YN,
			POST_SUBJECT,
			POST_CONTS,
			WRTR_ID,
			WRTR_DT,
			POST_DATE_FROM,
			POST_DATE_TO,
			IMPTNC_YN,
			ATTACH_YN,
			ANS_YN,
			DEL_YN,
			HIT_CNT,
			CRT_ID,
			CRT_DT,
			UPDT_ID,
			UPDT_DT
		) VALUES (
		  	 #{postId, jdbcType=INTEGER},
		  	 #{brdCd, jdbcType=VARCHAR},
		  	 null,
		  	 'N',
		  	 #{postSubject, jdbcType=VARCHAR},
		  	 #{postConts, jdbcType=VARCHAR},
		  	 #{wrtrId, jdbcType=VARCHAR},
		  	 SYSDATE(),
		  	 #{postDateFrom, jdbcType=VARCHAR},
		  	 #{postDateTo, jdbcType=VARCHAR},
		  	 #{imptncYn, jdbcType=VARCHAR},
		  	 #{attachYn, jdbcType=VARCHAR},
		  	 #{ansYn, jdbcType=VARCHAR},
		  	 'N',
		  	 0,
		  	 #{crtId, jdbcType=VARCHAR},
		  	 SYSDATE(),
		  	 null,
		  	 null
		  )
	</insert>
	
	<!-- update -->
	<update id="updateBoardInfo" parameterType="BoardInfoVO" >
		UPDATE waltz.TB_BOARD_INFO
		SET
			REPLY_YN = 'N',
			POST_SUBJECT = #{postSubject, jdbcType=VARCHAR},
			POST_CONTS = #{postConts, jdbcType=VARCHAR},
			POST_DATE_FROM = null,
			POST_DATE_TO = null,
			IMPTNC_YN = #{imptncYn, jdbcType=VARCHAR},
			ATTACH_YN = #{attachYn, jdbcType=VARCHAR},
			ANS_YN = #{ansYn, jdbcType=VARCHAR},
			DEL_YN = 'N',
			HIT_CNT = 0,
			UPDT_ID = #{updtId, jdbcType=VARCHAR},
			UPDT_DT = SYSDATE()
		WHERE
		  	 POST_ID = #{postId, jdbcType=INTEGER}
	</update>
	
	<!-- update -->
	<update id="updateBoardInfoHits" parameterType="BoardInfoVO">
		UPDATE waltz.TB_BOARD_INFO
		SET HIT_CNT = HIT_CNT + 1
		WHERE POST_ID = #{postId, jdbcType=INTEGER}
	</update>
	
	<!-- logical delete -->
	<update id="deleteBoardInfo" parameterType="BoardInfoVO" >
		UPDATE waltz.TB_BOARD_INFO
		SET
			DEL_YN = 'Y'
		WHERE
		  	 POST_ID = #{postId, jdbcType=INTEGER}
	</update>
</mapper>