<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mybrainfficial.waltzProject.boardInfo">
	<select id="selectBoardInfo" parameterType="BoardInfoVO" resultType="BoardInfoVO">
		SELECT *
		FROM waltz.TB_BOARD_INFO AS A
		WHERE A.POST_ID = #{postId, jdbcType=INTEGER}
	</select>
	
	<select id="selectListBoardInfo" parameterType="BoardInfoVO" resultType="BoardInfoVO">
		SELECT *
		FROM waltz.TB_BOARD_INFO AS A
		WHERE A.BRD_CD = #{brdCd, jdbcType=VARCHAR}
		ORDER BY POST_ID DESC
	</select>

	<select id="selectListPost" parameterType="BoardInfoVO" resultType="PostVO">
		SELECT A.*, B.*
		FROM waltz.TB_BOARD_INFO AS A
		LEFT JOIN waltz.TB_USER_INFO AS B
		ON A.WRTR_ID = B.USER_ID
		WHERE A.BRD_CD = #{brdCd, jdbcType=VARCHAR}
		AND A.DEL_YN = "N"
	</select>
	
	<insert id="insertBoardInfo" parameterType="BoardInfoVO" >
		INSERT INTO waltz.TB_BOARD_INFO(
			POST_ID,
			BRD_CD,
			ORIG_POST_ID,
			REPLY_YN,
			POST_SUBJECT,
			POST_CONTS,
			WRTR_ID,
			WRTR_DT,
			POST_DATE_FROM,
			POST_DATE_TO,
			IMPTNC_YN,
			ATTACH_YN,
			ANS_YN,
			DEL_YN,
			HIT_CNT,
			CRT_ID,
			CRT_DT,
			UPDT_ID,
			UPDT_DT
		) VALUES (
		  	 #{postId, jdbcType=INTEGER},
		  	 #{brdCd, jdbcType=VARCHAR},
		  	 #{origPostId, jdbcType=INTEGER},
		  	 #{replyYn, jdbcType=VARCHAR},
		  	 #{postSubject, jdbcType=VARCHAR},
		  	 #{postConts, jdbcType=VARCHAR},
		  	 #{wrtrId, jdbcType=VARCHAR},
		  	 SYSDATE(),
		  	 #{postDateFrom, jdbcType=VARCHAR},
		  	 #{postDateTo, jdbcType=VARCHAR},
		  	 #{imptncYn, jdbcType=VARCHAR},
		  	 #{attachYn, jdbcType=VARCHAR},
		  	 #{ansYn, jdbcType=VARCHAR},
		  	 'N',
		  	 0,
		  	 #{crtId, jdbcType=VARCHAR},
		  	 SYSDATE(),
		  	 null,
		  	 null
		  )
	</insert>
</mapper>